body {
    margin: 0;
}

.txt {
    margin-left: 7px; /*permet d'empecher le texte de coler le bord de page*/
}

/*associé au img des marker*/
.marker {
    width: 5%;
    height: 6%;
    position: absolute;
}

/*associé au txt des div affiché par javascript*/
.txtDiv {
    position: absolute;
    z-index: 3;
    color: black;
    background-color: white;
    padding: 0.5%;
    font-size: 500%;
}