body {
    margin: 0;
}

.txt {
    margin-left: 7px; /*permet d'empecher le texte de coler le bord de page*/
}

/*associé au img des marker*/
.marker {
    width: 3.5%;
    height: 5%;
    position: absolute;
}

/*associé au txt des div affiché par javascript*/
.txtDiv {
    position: absolute;
    z-index: 3;
    color: black;
    background-color: white;
    padding: 0.5%;
    font-size: 1vw;
}

nav{
    margin: 0px;
    padding: 0px;
    left: 0%;
    background-color: white;
    position: sticky;
}

nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav ul li{
    float: left;
    position: relative;
}

nav ul li img {
    padding-left: 5%;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    background-color: white;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    text-align: left;
}
.sous a{
    font-size: 1.5vw;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}